<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Follow Users</h1>
      
      <% if @users.count == 0 %>
        <p>ユーザーはいません</p>
      <% else %>
        <%= render 'index', user: @users %>
      <% end %>
    </div>
  </div>
</div>