<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @model == "User" %>
        <h3>Users search for "<%= @content %>"</h3>
        <%= render "users/index", users: @users, hidden: "true" %>
      <% else %>
        <h3>Books search for "<%= @word %>"</h3>
        <%= render "books/index", books: @books, hidden: "true" %>
      <% end %>
    </div>
  </div>
</div>